@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: sans-serif;
    background: url(../imagens/fundo.png) repeat-x;
}
#container {
    max-width: 720px;
    margin: 0 auto;    
}
#topo {
    background: url(../imagens/detalhe-topo.png) no-repeat right top;
    padding: 25px;
    height: 150px;
}
.logo {
    width: 152px;
    height: 66px;
    background: url(../imagens/logo.png) no-repeat center;
    text-indent: -3000px;
}
ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
#topo ul {
    float: left;
}