@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: Helvetica,"Trebuxhet MS" sans-serif;
    background: #fff url(../imagens/bg.png);
    margin: 15px;
}
#container {
    background: #ede9cc url(../imagens/bg-container.png) top center repeat-y;
    margin: 0 auto;
    min-width: 740px;
    max-width: 1180px;

}
/*Área de conteúdos*/
#area-principal {
    background: red;
    float: left;
    width: 50%;
    background: url(../imagens/bg-area-principal.png) top left repeat-x;
    padding: 15px 0px;
}
#area-lateral {
    background: blue;
    float: right;
    width: 50%;
    background: url(../imagens/bg-area-lateral.png) top left repeat-x;
    padding: 20px 0px;
}
.conteudo {
    margin: 0 auto;
    width: 90%;
    background: turquoise;
}
#rodape {
    clear: both;
}